.Friend{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 2px;
    border-radius: 12px;
    cursor: pointer;
}

.Friend:hover{
    background-color: rgba(128, 128, 128, 0.502);
}

.message-info{
    margin-left: 12px;
}

.message-info>:nth-child(1){
    font-weight: bold;
}

.message-info>:nth-child(2){
    font-size: 12px;
}