.Friend{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 12px;
    cursor: pointer;
}

.Friend-highlighted{
    background-color: #646cff;
}

.Friend-hover:hover{
    background-color: rgba(128, 128, 128, 0.502);
}

.message-info{
    margin-left: 12px;
    width: 100%;
    border-bottom: 0.1px solid #5D5D5D;
    padding-bottom: 1rem;
}

.message-info>:nth-child(1){
    font-weight: bold;
}

.message-info>:nth-child(2){
    font-size: 12px;
}

.profile-avatar{
    background-color: #5D5D5D !important;
    width: 40px !important;
}

.Friend-hr{
    margin-bottom: 6px;
    border:0.1px solid var(--hr-color);
    width: 80%;
}