.MainApp {
    display: flex;
}

li{
    list-style: none;
}

.items-center-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
}

.LeftSideBar {
    flex: 0.2;
    border-right: 0.1px solid var(--hr-color);
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #282625;
}

.leftsidebar-header {
    padding: 12px;
}

.leftsidebar-header>div {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 100px;
    width: 40px;
    object-fit: contain;
}

.leftsidebar-header>div>p {
    margin-left: 10px;
    font-weight: 550;
}

.leftsidebar-icons {
    cursor: pointer;
}

.hr {
    border: 0.1px solid var(--hr-color);
}

.leftsidebar-search {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.leftsidebar-search>input {
    width: 90%;
    height: 2rem;
    color: grey;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    border-radius: 6px;
    padding: 6px;
    border:1px solid var(--hr-color);
}

.leftsidebar-friends {
    padding: 12px;
    max-height: 600px;
    overflow-y: scroll;
}

.Feed {
    flex: 0.8;
    background-color: #1E1E1E;
    position: relative;
}

.feed-header {
    display: flex;
    justify-content: space-between;
    padding: 17px;
    background-color: #3B3736;
}

.ChatSection {
    margin: auto;
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 12px;
}

.send-chat {
    height: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.send-chat>form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.send-chat>form>input {
    width: 70%;
    height: 40px;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--hr-color);
    border-radius: 30px;
    background-color: #1E1E1E;
    padding: 1rem;
}   

.send-chat>form>button {
    padding: 5px;
    margin-left: 12px;
    cursor: pointer;
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.send-chat>form>button:hover{
    opacity: 1;
}

.sign-out {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 10px;
}